*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.7;
  font-size: 14px;
  font-family: "Lexend Deca", sans-serif;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  min-width: 250px;
  max-width: 280px;
}

.column__content {
  padding: 17%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: white;
}

.container button {
  display: block;
}

.container h1,
img,
article {
  margin: 10% 0;
}

.container h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.container button {
  background-color: white;
  border-radius: 25px;
  border-color: white;
  border-style: solid;
  padding: 2% 10%;
  margin-top: 40%;
}

.container button:hover {
  cursor: pointer;
  background-color: inherit;
  color: white;
  border-color: white;
  border-width: 3px;
  border-style: solid;
}

#luxury {
  background-color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#sedans {
  background-color: hsl(31, 77%, 52%);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#suvs {
  background-color: hsl(184, 100%, 22%);
}

#luxury button {
  color: hsl(179, 100%, 13%);
}

#sedans button {
  color: hsl(31, 77%, 52%);
}

#suvs button {
  color: hsl(184, 100%, 22%);
}
#luxury button:hover {
  color: white;
}

#sedans button:hover {
  color: white;
}

#suvs button:hover {
  color: white;
}

@media screen and (max-width: 414px) and (orientation: portrait) {
  body {
    font-size: 0.7rem;
    line-height: 1.5;
  }
  img {
    width: 30%;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    margin: auto 0;
  }
  .container h1 {
    font-family: "Big Shoulders Display", cursive;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .container h1,
  img,
  article {
    margin: 0;
  }
  .container button {
    background-color: white;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
    padding: 2% 7%;
    margin-top: 10%;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 33vh;
    width: 80vw;
    min-width: 200px;
  }
  #luxury {
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }

  #sedans {
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
